# Supabase Configuration
# Obtain these from your Supabase Dashboard: Project Settings -> API
VITE_SUPABASE_URL=https://akqcrvawyqiveqzjgltv.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFrcWNydmF3eXFpdmVxempnbHR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxNTU4MDgsImV4cCI6MjEwMjczMTgwOH0.v7nY2Z7D1eOZEZ_Gvvf012-OtTnSAm5H7CLedxFhdq8
